.CFUserTextEncoding
.DS_Store
.bash_history
.composer/
.config/
.cups/
.docker/
.gitconfig
.jspm/
.node-gyp/
.node_repl_history
.npm/
.oracle_jre_usage/
.phpls/
.putty/
.quokka/
.ssh/
.subversion/
.v8flags.7.0.276.38-node.13.c4ed2e9ce67bbd81f7261c28dfe4f4c4.json
.vim/
.viminfo
.wget-hsts
.yarnrc
".zcompdump-Harry\342\200\231s MacBook Pro-5.3"
.zoomus/
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
code-club/
httpdocs/
php.ini
zshrc
lol
